:root {
    --primary: #73841b;
}


.header__top-notification-bar {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    
    
    
}

.header__top-background {
    width: 100%;
    background-color: var(--primary);
    height: 40px;
    
}

.top__notification-list {
    display: flex;
}
.top__notification-item,
.top__notification-link {
    color: white;
    padding: 0 5px;
    font-size: 1.5rem;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}
.top__notification-link {
    text-decoration: none;
}


.header__mid-bottom-background {
    background-color:#fff;
}

.header__main-area {
    width: 100%;
    height: 84px;
    
    
  
}

.middle__account {
    position: relative;
    /* margin-left: 45px; */
    
}


.middle__account-list {
    display: inline-flex;
  
   
}

.middle__account-tab {
    display: none;
}

.middle__account-item {
    display: block;
    padding: 22px 10px 22px 10px;
}

.middle__account-link {
    
    display: block;
    height: 40px;
    width: 40px;
    background-color: #f4f4f4;
    color: #000;
    
    
    font-size: 2rem;
    border-radius: 50%;
    padding: 10px;
    
    
}

.middle__search {
    display: flex;
    flex: 1;
    margin: 0 40px;
    margin-top: 18px;
    
}


.inputsearch {
    display: block;
    flex: 1;

    height: 4.5rem;
    border-radius: 55px 0 0 55px;
    overflow: hidden;
    border: 1px solid rgb(153, 153, 153);
    outline: none;
    padding: 5px 20px 5px 20px;
    font-size: 2rem;
    border-right: none;

}

.btn__search {
    background-color: #fff;
    width: 50px;
    padding-right: 20px;
    font-size: 2rem;
    
    border-radius: 0px 55px 55px 0px;
    border-top: 1px solid rgb(153, 153, 153);
    border-left: none;
    border-right:  1px solid rgb(153, 153, 153);
    border-bottom:  1px solid rgb(153, 153, 153);
}

.inputsearch:focus {
    box-shadow: -1px 0 0 1px var(--primary);
}
.inputsearch:focus ~ .btn__search{
    box-shadow: 1px 0 0 1px var(--primary);
}







/* Phần tab danh mục */


.header__bottom-area {
    width: 100%;
    height: 53px;
    background-color: #fff;
    display: inline-flex;
    justify-content: space-between;
    border-top: 1px solid rgb(155, 154, 154);
}

.header__bottom-area-list-1 {
    display: flex;
}
.header__bottom-area-item {
    display: block;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 16px;
    
}

.header__bottom-area-link {
    display: block;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
}


.header__bottom-area-list-2 {
    display: flex;
    padding-top: 15px;
    padding-bottom: 16px;
}

.header__bottom-area-itemm {
    color: #000;
    font-size: 1.6rem;
    margin-right: 10px;
}

.home__extend {
    position: relative;
}
.home__extend-first {
    position: absolute;
    top: 106%;
    left: -2%;
    min-width: 200px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    
    padding-top: 30px;
    box-shadow: 0px 0px 4px 2px #707070;
    border-radius: 3px;
    display: none;
}


.home__extend-first-item {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.home__extend-first--link {
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}

.home__extend-second {
    position: absolute;
    width: 200px;
    top: 0%;
    left: 100% ;
    background-color: #fff;
    box-shadow: 0px 0px 4px 2px #707070;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    display: none;
}
.home_extend-second-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.home__extend-second-link {
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}

.home_extend-second-item:hover,
.home__extend-first-item:hover {
    background-color: #f0f0f0;
}
@keyframes alo {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.header__bottom-home:hover > .home__extend-first {
    display: block;
    animation: alo 0.2s ease-in;
}
.home_01:hover >.home__extend-second {
    display: block;
}


.account__hover {
    width: 200px;
    position: absolute;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0px 0px 2px 2px #707070;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    top: 100%;
    left: -87%;
    border-radius: 4px;
    display: none;
}
/* .account__hover::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    box-shadow: -2.5px -2.5px 2px 1px #707070;
    transform: rotate(45deg);
    z-index: 999;
    top: -3%;
    left: 80%;
} */





.account__hover-s--link {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
}

.account__hover-item-s
{
    display: block;
    padding: 5px 10px 10px 10px;
    
}

.account__hover-item-s:hover > .account__hover-s--link{
    color: var(--primary);
    font-weight: 600;
}



.account__hover-list--s {
    padding-left: 10px;
    padding-right: 10px;
}

.account__hover-h:hover > .account__hover {
    display: block;
    animation: alo 0.3s ease-in;
}

.change__money {
    position: absolute;
    
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #707070;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 4px;
    top: 100%;
    z-index: 999;
    display: none;

}


.change__money-item {
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor:alias;
  
}
.change__money-item:hover {
    background-color: #f4f4f4;
}
.money__hover:hover > .change__money {
    display: block;
}

.shop__item {
    position: absolute;
    width: 1000px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 2px #707070;
    border-radius: 5px;
    padding: 10px;
    left: -22%;
    top: 100%;
    padding-left: 20px;
    display: none;
}


.shop__header {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;

    font-size: 1.8rem;
    color: var(--primary);
    font-weight: 600;
}
.shop__item-link {
    text-decoration: none;
    display: block;
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1.8rem;
}

.shop__item-tiem:hover >.shop__item-link {
    color: var(--primary);
    font-weight: 600;

}

.shop__hover:hover >.shop__item {
    display: block;
}

.header__bottom-area-item:hover >.header__bottom-area-link {
    color: var(--primary);
}

.suggestions {
    position: absolute;
   
    width: 100%;
    top: 110%;
    display: none;
   
}
.inputsearch:focus ~ .suggestions {
    display: block;
}

.suggestions__remove {
    
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #707070;
}

.suggestions__item {
    font-size: 3rem;
}
.suggestions__item:hover {
    color: var(--primary);
    font-weight: 600;
}

.register_main {
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #fff;
       
}
.login_main {
    width: 400px;
    position: absolute;
    left: calc(50% - 200px);
    background-color: white;
}
@keyframes fadein {
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}
.form_register{
    position: absolute;
    left: calc(50% - 180px);
    top: 10%;
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 0 5px 2px rgb(168, 166, 166);
    border-radius: 10px;
    animation: fadein 0.4s ease-in;
}
.form_register .register_header,
.form_login .login_header {
    font-size: 2rem;
  }
.register_header,
.login_header {
    color: var(--primary);
}

.form_group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }
  .form_label,
.form_message {
  text-align: left;
}

.check_group {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    
}
.form_label {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.name,.lastname,.password,.repassword {
    height: 3.6rem;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding-left: 15px;
    color: var(--primary);
    font-weight: 400;
    font-size: 1.5rem;
    
}
.name:focus,.lastname:focus,.password:focus,.repassword:focus {
    box-shadow: 0 0 0 1.2px var(--primary);
}
.name::placeholder,
.lastname::placeholder,
.password::placeholder,
.repassword::placeholder {
    font-weight: 400;
    font-size: 1.4rem;
}


.btn {
    display: block;
    border: 1px solid var(--primary);
    font-size: 2rem;
    padding: 8px 30px;
    border-radius: 4px;
    background: none;
    cursor: pointer;
 
   
    transition: 1.2s;
    position: relative;
    overflow: hidden;
    color: var(--primary);
    user-select: none;
}
.btn:hover {
    color: #fff;
    z-index: 9999;
}
.btn::before {
    position: absolute;
    content: "";
    left: 0;
    background-color: var(--primary) ;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: 0.4s;
}
.btn_register::before {
    bottom: 0;
    border-radius:60% 60% 0 0 ;
}
.btn_register:hover::before{
    height: 180%;
   
}
.check_group-link {
    text-decoration: none;
    color: var(--primary);
}
.register_main,
.form_register {
     display: none; 
}

.loading_register {
    position:absolute;
    left: calc(50% - 100px);
    top: calc(50% - 50px);
   
   
    display: none;
    z-index: 999;
   
}
.img_loading{
    width: 50%;
}


.form_login {
    position: absolute;
    left: calc(50% - 200px);
    top: 18%;
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 0 5px 2px rgb(168, 166, 166);
    border-radius: 10px;
    animation: fadein 0.4s ease-in;
    display: none;
}
.loading_login {
    position:absolute;
    left: calc(50% - 100px);
    top: calc(50% - 50px);
   
   
    display: none;
    z-index: 999;
}

.toRegister,
.toLogin {
    font-size: 1.3rem;
    padding-top: 20px;
    user-select: none;
}
.toRegister-link,
.toLogin-link {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary);
    cursor: pointer;
    user-select: none;
}

.btn_login::before {
    bottom: 0;
    border-radius:60% 60% 0 0 ;
}
.btn_login:hover::before{
    height: 180%;
   
}

.home_link {
    text-decoration: none;
    color: var(--primary);
    font-size: 2.2rem;
}


/* test */
.goto {
    position: absolute;
    height: 40px;
    width: 300px;
    background-color: aqua;
    font-size: 2rem;
    left: 50%;
}